on:
  push:
    branches-ignore:
      - allcontributors/**
      - docs
      - gh-pages
  pull_request:
    branches:
      - '*'

name: Lint
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install golangci-lint
        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0

      - name: Run golangci-lint
        run: $(go env GOPATH)/bin/golangci-lint run ./...
